body {
	background-color: black;
	color: white;
}
h1{
	text-align: center;
}
#sentiment {
	text-align: center;
	font-family: verdana;
}

.stats {
    text-align: center;
    font-family: verdana;
    font-stretch: ultra-expanded;
    font-weight: bold;
    font-size: 1.5em;
}

}
#list {
    font-size: 20px;
    font-family: verdana;
    color: #003366 ;
    font-weight: 600;
    text-align: center;


}
#list:hover{
    -webkit-filter: brightness(115%);
    /*border: 5px solid #003366 ;*/
    color:red;
    font-weight: bold;

}
.posts {
	margin-top: 0;
}